.App {
  text-align: center;
}
nav {
  background-color: aqua;
  padding: 10px;
}

nav a {
  margin: 5px;
  font-size: 30px;
  color: blue;
}
.active {
  color: rgb(64, 64, 236);
  text-decoration: none;
}
